<div class="flex flex-col items-center">
  <div class="flex">
    <%= image-tag @group.icon, alt: 'icon', class: 'w-40' %>
    <p><%= @group.name %></p>
  </div>

  <div>
    <p>Transaction Burger</p>
    <div>
      <%= image_tag ('calendar-icon.png'), alt: 'icon', class: "w-40" %>
      <p>24-07-2022</p>
    </div>

    <div>
      <p>Payment</p>
      <p>$170</p>
    </div>
  </div>
</div>
